:is(.comp-overall-asc-gem-table, .comp-asc-gem-table) :is(td, th) {
	text-align: center;
}

.asc-overall-table,
.asc-gems-table {
	border: 1px solid black;
	border-collapse: collapse;
	padding-top: 20px;
	padding-bottom: 20px;
}
.comp-overall-asc-gem-table,
.comp-asc-gem-table {
	border: 1px solid black;
	border-collapse: collapse;
}

.asc-overall-table div h3 {
	font-size: 30px;
}
.asc-overall-table {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.asc-gems-table {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	column-gap: 20px;
	row-gap: 20px;
	padding-bottom: 30px;
}

.asc-num-input {
	width: 170px;
	height: 30px;
	font-size: 17px;
}
