.weekly-boss-table :is(td, th) {
	text-align: center;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-bottom: 0.5rem;
}
.weekly-boss-header th {
	padding: 10px 0px 10px 0px;
	border-bottom: 5px solid rgb(26, 3, 118);
}
.weekly-boss-h1 {
	text-align: center;
	font-size: 25px;
}
.weekly-boss-table td {
	/* padding-bottom: 10px; */
	text-align: right;
}

.weekly-boss-table td:nth-child(n + 5) {
	text-align: left;
}

.weekly-boss-table tr:nth-child(5n) {
	border-bottom: 5px solid rgb(26, 3, 118);
	font-weight: bold;
}

td[colspan='5'] {
	text-align: center;
	font-weight: bold;
	padding: 10px;
}

.weekly-boss-table {
	border: 2px solid black;
	border-collapse: collapse;
}

.weekly-boss-block {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 15px;
}

.weekly-boss-num-input {
	width: 60px;
	height: 30px;
}

.weekly-boss-table input[type='number'] {
	appearance: textfield;
	font-size: 15px;
	text-align: right;
}

.weekly-arrow-up,
.weekly-arrow-down {
	height: 25px;
	width: 25px;
}

.weekly-arrow-down {
	margin-right: 10px;
}

.weekly-arrow-up {
	margin-left: 10px;
}

.weekly-arrow-mid-number {
	font-size: 15px;
}
