td,
th {
	text-align: center;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}
h3 {
	font-size: 30px;
}
.overall-table {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.gems-table {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	column-gap: 20px;
	row-gap: 20px;
	padding-bottom: 30px;
}

.num-input {
	width: 180px;
	height: 40px;
}
