.local-specialty-table :is(td, th) {
	text-align: center;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-bottom: 0.5rem;
}
.local-specialty-h1 {
	text-align: center;
	font-size: 25px;
}
.local-specialty-table td {
	/* padding-bottom: 10px; */
	text-align: right;
}

.local-specialty-table td:nth-child(n + 5) {
	text-align: left;
}

.local-specialty-table tr:last-child {
	border: 2px solid black;
	font-weight: bold;
}

.local-specialty-table {
	border: 2px solid black;
	border-collapse: collapse;
}

.local-specialty-block {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 15px;
}

.local-specialty-num-input {
	width: 60px;
	height: 30px;
}

.local-specialty-table input[type='number'] {
	appearance: textfield;
	font-size: 15px;
	text-align: right;
}

.local-specialty-arrow-up,
.local-specialty-arrow-down {
	height: 25px;
	width: 25px;
}

.local-specialty-arrow-down {
	margin-right: 10px;
}

.local-specialty-arrow-up {
	margin-left: 10px;
}

.local-specialty-arrow-mid-number {
	font-size: 15px;
}
