td,
th {
	text-align: center;
}

td {
	padding-right: 1.5rem;
	/* padding-bottom: 10px; */
	text-align: right;
}
table,
.total-line {
	border: 2px solid black;
	border-collapse: collapse;
}

.book-table {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.lv-num-input,
.lv-num-output {
	width: 45px;
	height: 30px;
}

.exp-num-input,
.exp-num-output {
	width: 55px;
	height: 30px;
}
