.exp-book-table :is(td, th) {
	text-align: center;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	font-size: 25px;
}

.exp-book-table td {
	/* padding-bottom: 10px; */
	text-align: right;
}
.exp-book-table,
.exp-total-line,
.book-farming-req-table,
.mora-farming-req-table {
	border: 2px solid black;
	border-collapse: collapse;
}
.runs-total-line {
	border: 2px solid black;
	border-collapse: collapse;
}
.farming-table {
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
	padding-top: 40px;
}
.exp-block-table h2 {
	display: flex;
}

.exp-req-block-table {
	display: flex;
	justify-content: center;
}

.book-farming-req-block,
.mora-farming-req-block {
	padding: 20px 50px 20px 50px;
}

:is(.book-farming-req-table, .mora-farming-req-table) :is(td, th) {
	padding: 5px 10px 5px 10px;
	font-size: 25px;
}
.exp-book-table input[type='number'] {
	text-align: right;
	appearance: textfield;
	font-size: 20px;
}

.exp-book-table input::-webkit-outer-spin-button,
.exp-book-table input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.exp-lv-num-input,
.exp-lv-num-output,
.exp-num-input,
.exp-num-output {
	width: 60px;
	height: 40px;
}

.exp-needed-sub-output {
	width: 130px;
	height: 40px;
}

.tbody-exp-book tr:nth-child(n + 8) td {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-weight: bold;
}
.exp-total-line td:nth-child(n + 2):nth-child(-n + 3) {
	text-align: center;
}
