td,
th {
	text-align: center;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	font-size: 25px;
}

td {
	/* padding-bottom: 10px; */
	text-align: right;
}
table,
.total-line {
	border: 2px solid black;
	border-collapse: collapse;
}
.runs-total-line {
	border: 2px solid black;
	border-collapse: collapse;
}
.farming-table {
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
	padding-top: 40px;
}
.block-table h2:not(.farming-req-block h2) {
	display: flex;
	justify-content: center;
}

.farming-req-block {
	display: flex;
	justify-content: center;
}

.book-farming-req-table,
.mora-farming-req-table {
	padding: 20px 50px 20px 50px;
}

input[type='number'] {
	text-align: right;
	appearance: textfield;
	font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.lv-num-input,
.lv-num-output,
.exp-num-input,
.exp-num-output {
	width: 60px;
	height: 40px;
}

.exp-needed-sub-output {
	width: 130px;
	height: 40px;
}

tbody tr:nth-child(n + 8) td {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-weight: bold;
}
.total-line td:nth-child(n + 2):nth-child(-n + 3) {
	text-align: center;
}
