.talent-books-h1 {
	text-align: center;
}

.talent-books-table :is(td, th) {
	text-align: center;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-bottom: 0.5rem;
}
.talent-books-h1 {
	text-align: center;
}
.talent-books-table td {
	/* padding-bottom: 10px; */
	text-align: right;
}

.talent-books-table td:nth-child(n + 5) {
	text-align: left;
}

.talent-books-table tr:nth-child(4n) {
	border: 2px solid black;
	font-weight: bold;
}

.talent-books-table {
	border: 2px solid black;
	border-collapse: collapse;
}

.talent-books-block {
	display: flex;
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	font-size: 25px;
}

.talent-books-num-input {
	width: 80px;
	height: 50px;
}

.talent-books-table input[type='number'] {
	appearance: textfield;
	font-size: 28px;
	text-align: right;
}

.talent-books-arrow-up,
.talent-books-arrow-down {
	height: 35px;
	width: 35px;
}

.talent-books-arrow-down {
	margin-right: 10px;
}

.talent-books-arrow-up {
	margin-left: 10px;
}

.talent-books-arrow-mid-number {
	font-size: 28px;
}
