.general-asc-mat-table :is(td, th) {
	text-align: center;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-bottom: 0.5rem;
}
.general-asc-mat-h1 {
	text-align: center;
	font-size: 25px;
}
.general-asc-mat-table td {
	text-align: center;
}

.general-asc-mat-table td:nth-child(4n) {
	padding: 10px 10px 10px 10px;
}

.general-asc-mat-table td:nth-child(4n + 1):not(td:last-child) {
	width: 80px;
	padding: 10px 0px 10px 0px;
}
.general-asc-mat-table td:nth-child(-n + 1) {
	text-align: center;
}

.general-asc-mat-table td[colspan='9'] {
	border: 2px solid black;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: burlywood;
}

.general-asc-mat-table tr :is(td[rowSpan='3']) {
	text-align: left;
}

.general-asc-mat-table tr:last-child td {
	border-top: 2px solid black;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.general-asc-mat-table {
	border: 2px solid black;
	border-collapse: collapse;
}

.general-asc-mat-block {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 15px;
}

.general-asc-mat-num-input {
	width: 60px;
	height: 30px;
}

.general-asc-mat-table input[type='number'] {
	appearance: textfield;
	font-size: 15px;
	text-align: right;
}

.general-asc-mat-arrow-up,
.general-asc-mat-arrow-down {
	height: 25px;
	width: 25px;
}

.general-asc-mat-arrow-down {
	margin-right: 10px;
}

.general-asc-mat-arrow-up {
	margin-left: 10px;
}

.general-asc-mat-arrow-mid-number {
	font-size: 15px;
}
.general-asc-mat-total-row {
	font-weight: bold;
}
